/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.cta-wrapper {
  padding: 30px;
}

.flip-wrapper {
  padding: 40px;
}

.salesteam-wrapper {
  padding: 60px
}
