<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<p>name: <%= @user.name %></p>

<p>available? <%= @user.available %></p>

<%= link_to 'Availability', toggle_availability_user_path(@user), method: :patch %>

<!-- mark as settled and mark as lost -->
