<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="container bg-light-grey">
  <div class="row">
    <div class="col-md-4">
      <div class="wrapper">
        <div class="col_third">
          <div class="hover panel">
            <div class="front">
              <div class="box1">
                <h1>Route.</h1>
              </div>
            </div>
            <div class="back">
              <div class="box2">
                <p>Automatically distribute leads to your sales team round robin style, based on specified rules - sent directly to their inbox.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="col-md-4">
    <div class="wrapper">
      <div class="col_third">
        <div class="hover panel">
          <div class="front">
            <div class="box1">
              <h1>Record.</h1>
            </div>
          </div>
          <div class="back">
            <div class="box2">
              <p>Simple dashboard for each salesperson to view their leads and mark the outcome.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="col-md-4">
    <div class="wrapper">
      <div class="col_third">
        <div class="hover panel">
          <div class="front">
            <div class="box1">
              <h1>Report.</h1>
            </div>
          </div>
          <div class="back">
            <div class="box2">
              <p>Do less, know more with simple analytics for time poor business owners.
    </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
