/* Banner design */
.banner {
  color: white;
  height: 100vh;
  position: relative;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: left;
  h1 {
    font-size: 35px;
    font-weight: 400;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
    line-height: 43px;
    letter-spacing: 2px;
    padding: 15px 60px 15px;
  }
}

.banner-logo {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 200px;
}

.login {
  position: absolute;
  right: 32px;
  top: 23px;
  width: 75px;
  height: 33px;
  font-size: 13px;
}

.get-started {
  position: absolute;
  right: 124px;
  top: 23px;
  width: 152px;
  height: 33px;
  font-size: 13px;
}
