/* Banner design */
.banner {
  color: white;
  height: 600px;
  position: relative;
  // /* if you have a 70px navbar => height: calc(100vh - 70px); */
  // background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: left;
  // margin-top: 71px;
  h1 {
    font-family: $header-font;
    font-size: 42px;
    font-weight: 400;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
    line-height: 43px;
    letter-spacing: 4px;
    padding: 15px 60px 15px;
    position: absolute;
    top: 156px;
    right: 34px;
    text-align: right;
  }
  h2 {
    font-family: $base-font;
    font-size: 25px;
    font-weight: 300;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
    line-height: 43px;
    letter-spacing: 3px;
    padding: 0px 60px 15px;
    position: absolute;
    top: 234px;
    right: 34px;
    text-align: right;
    color: lightgrey;
  }
  .banner-img {
    position: absolute;
    bottom: 0px;
  }
}

.banner-logo {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 200px;
}

.login {
  position: absolute;
  right: 32px;
  top: 23px;
  width: 75px;
  height: 33px;
  font-size: 13px;
}

.get-started {
  position: absolute;
  right: 124px;
  top: 23px;
  width: 152px;
  height: 33px;
  font-size: 13px;
}
