.btn-transparent {
  background-color: transparent;
  color: $brand-primary;
  border: 2px solid $brand-primary;
  padding: 5px 20px 5px 20px;
  border-radius: 2px;
  transition: .2s ease;
  text-decoration: none;
}

.btn-transparent:hover {
  background-color: $brand-primary;
  text-decoration: none;
  color: #ffffff;
}

.logged-in-dash {
  padding: 5px 0px 5px 15px;
  background-color: $brand-primary;
  color: #ffffff;
  border: 2px solid $brand-primary;
  border-radius: 2px;
  transition: .2s ease;
  text-decoration: none;
  width: 100px;
}
