.table-header {
  background-color: #252525;
  color: #FFFFFE;
  text-align: center;
}

.user-th {
  text-align: center;
  height: 50px;
}

.alert {
  background-color: #E4E4E3;
}

.user-td {
  height: 50px;
}

.user-table {
  background-color: #FFFFFE;
}

.user-button {
  float: right;
}

.main-view-window {
  background-color: #E4E4E3;
  height: 88vh;
}
