.table-header {
  text-align: left;
}

.user-th {
  text-align: left;
  height: 50px;
}

.pad-left-plz {
  padding-left:5px;
  height: 50px;
  text-align: center;
}

.pad-right-plz {
  text-align: center;
  padding-right: 15px;
}

.user-td {
  height: 50px;
}

.user-td-center {
  height: 50px;
  text-align: center;
}

.user-table {
  background-color: #FFFFFF;
}

.table-wrapper {
  // height: 85vh;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.scroll-me {
    overflow-y: scroll;
    height: 700px;
    overflow: -moz-scrollbars-vertical;
}

// User Buttons
.add-lead-btn {
  margin-bottom: 11px;
}
