.main-wrapper {
  display: flex;
  .sidebar {
    flex: 0 0 20%;
  }
  .main-content {
    flex: 1 0 80%;
  }
}

.table-header {
  text-align: left;
}

.table {
  table-layout: fixed;

}

.table-button {
  height: 30px;
  font-size: 11px;
  margin-left: -8px;
}

.table-dropdown {
    background-color: #ffffff;
    color: #252525;
    font-size: 12px;
    margin: 10px;
}

.fa-times {
  padding-right: 0px;
  margin-left: -6px;
  color: #E81617;
}

#table-header-green {
  background-color: #97c05c;
  text-align: left;
}

#table-header-yellow {
  background-color: #f2bc4e;
  text-align: left;
}

#table-header-grey {
  background-color: #bdbdbd;
  text-align: left;
}

.table > tbody > tr > th {
  vertical-align: middle;
  padding: 7px 9px;
  font-size: 11px;
  text-align: left;
}

.table > tbody > tr > td {
  vertical-align: middle;
  padding: 7px 9px;
  height: 23px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#rank-align {
  text-align: center;
}

.user-th {
  text-align: left;
  height: 40px;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-left: 14px;
  vertical-align: middle;
  a {
    text-decoration: none;
    color: white;
    &:hover {
      color: white;
    }
  }
}

.result-th {
  width: 70px;
}

.email-th {
  width: 260px;
}

.lead-th {
  width: 80px;
}

.outcome-th {
  width: 100px;
}

.phone-th {
  width: 130px;
}

.source-th {
  width: 130px;
}

.name-th {
  width: 160px;
}

.pad-left-plz {
  padding-left:5px;
  height: 50px;
  text-align: center;
}

.pad-right-plz {
  text-align: center;
  padding-right: 15px;
}

.user-td {
  height: 50px;
  font-size: 13px;
  text-align: left;
  padding-left: 14px;
  vertical-align: middle;
  // white-space: pre;
}

.user-td-center {
  height: 50px;
  text-align: center;
}

.table-wrapper {
  // height: 85vh;
  width: auto;
  padding: 35px;
  margin-bottom: 10px;
  // height: calc(90vh - 70px);
}

.scroll-me {
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;
}

// User Buttons
.add-lead-btn {
  background-color: #53b8e9;
  border-color: none;
  font-size: 11px;
  margin-bottom: 10px;
}

.table-button {
  background-color: #53b8e9;
  border-color: none;
  font-size: 11px;
}

.btn-grey {
  margin-bottom: 11px;
  background-color: $darkgrey;
  border-color: $darkgrey;
  font-size: 11px;
}

// Stats styling

.stats-wrapper {
  margin: 20px;
}

.stats {
  padding: 20px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

.stat-header {
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 2px;
  border-bottom: 3px solid #67AAE1;
  padding-bottom: 9px;
}

.stat-detail {
  color: #ffffff;
  padding-top: 10px;
  letter-spacing: 3px;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

.stat-number {
  font-size: 33px;
}

.sidebar {
  background-color: $darkgrey;
}

.avatar-wrapper {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#status-green {
  background-color: #97C05C;
  border-radius: 3px;
  font-size: 10px;
  color: #fff;
  padding: 5px;
  text-align: center;
}

#status-red {
  background-color: #EE5F5B;
  border-radius: 3px;
  font-size: 10px;
  color: #fff;
  padding: 5px;
  text-align: center;
}

#status-yellow {
  background-color: #f2bc4e;
  border-radius: 3px;
  font-size: 10px;
  color: #fff;
  padding: 5px;
  text-align: center;
}

#status-blue {
  background-color: $brand-primary;
  border-radius: 3px;
  font-size: 10px;
  color: #fff;
  padding: 5px;
  text-align: center;
}

.fa-unsorted:before, .fa-sort:before {
  padding: 4px;
}

.x-margin {
  margin: 0 20px;
}

.status-width {
  width: 79px;
}

.sales-width {
  width: 121px;
}

.options-width {
  width: 82px;
}

.source-width {
  width: 84px;
}

.rank-width {
 width: 80px;
}

.avail-width {
  width: 80px;
}

#welcome-message {
  color: #E6E7E8;
  margin-top: 13px;
}

.next-lead-box {
  color: #252525;
  padding: 2px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  h3 {
  font-size: 14px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 300;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  }
}

.delete-width {
  width: 80px;
}

.name-width {
  width: 130px;
}

.conversion-width {
  width: 110px;
}

.response-width {
  width: 170px;
}

.avail-width {
  width: 100px;
}

.email-width {
  width: 200px;
}
